export SELECTOR4NIX_CONFIG_FILE="$(realpath ./docs/selector4nix.development.toml)"
echo '$SELECTOR4NIX_CONFIG_FILE='"$SELECTOR4NIX_CONFIG_FILE"
echo 'info: selector4nix will listen on port 5497 in this development environment'

echo "direnv: loading .envrc"
watch_file flake.nix flake.lock
use nix
